*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
  
  
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.4;

}

a{
  color: #333;
  text-decoration: none;
}

p span {
    cursor: pointer;
    position: relative;
    float: right;
    margin-right: 10px;
}

.container {
  padding: 0 ;
  background-color: #555;
  height: 100vh;

}
.Contents {
  position: relative;
  padding: 100px 400px 0px 400px

}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  overflow: hidden;
  width: 400px;
  height: 300px;
  overflow: hidden;

}
.centerprofile {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 20px 20px 10px;
  overflow: hidden;
  width: 200px;
  height: 300x;
  overflow: hidden;

}

.btn {
  display: inline-block;
  border: 'none';
  background: #555;
  color: #fff;
  padding: 7px 20px;
  cursor: pointer;
}

.btn:hover{
  background: #666;
}